doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500', rel='stylesheet' type='text/css')
    style(type="text/css"): include ../public/stylesheets/style_verify_email.css
    link(rel="shortcut icon",href="http://192.241.245.98:3000/favicon.ico",type="image/x-icon")
    link(rel="icon",href="http://192.241.245.98:3000/favicon.ico",type="image/x-icon")
    title TheHive
  body
    div.block
      div.cont
        div.content
          div.header
            a(href="#")
              img(src="http://192.241.245.98:3000/images/logo.png")
          div.main
            .list
              .element
                span.titulo Hola #{nombre}
                span.subtitulo Estás a un paso de formar parte de la Colmena
              .element.boton
                span Haz click para verificar tu cuenta
                a(href="http://192.241.245.98:3000/verification/"+public_id).verify Confirmar tu correo
          div.footer
            .list
              .element
                span ¿El link no funciona? Pega esto en tu navegador:
                a(href="#") http://192.241.245.98:3000/verification/#{public_id}
              .element
                span Este correo fue enviado de manera automática, no respondas.
                span Si necesitas ayuda, contáctanos: 
                a(href="#").email ayuda@theHIVE.com
              .element
                span ©2016 The Hive, S.A de C.V.
                span.divider |
                span Todos los derechos reservados
              .element.last
                a(href="#") Política de Privacidad
                span.divider |
                a(href="#") Términos y Condiciones