doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', style='width: 100%; height: 100%; margin: 0;')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='http://thehiveapp.mx/favicon.ico', type='image/x-icon')
    link(rel='icon', href='http://thehiveapp.mx/favicon.ico', type='image/x-icon')
    <!--[if !mso]><!-- -->
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500',rel='stylesheet',type='text/css')
    <!--<![endif]-->
    title TheHive
  body(style="width: 100%; min-height: 100%; font-size: 16px; font-family: 'Roboto', sans-serif; background-image: url('http://thehiveapp.mx/images/bg.png'); background-repeat: repeat; background-color: #363636; margin: 0; padding: 0;", bgcolor='#363636')
    div(style='background-color: #fff; max-width: 600px; margin: 0 auto; padding: 20px 54px;')
      div
        div(style='text-align: center; border: 0;', align='center')
          a(href='#d41d8cd98f00b204e9800998ecf8427e')
            img(src='http://thehiveapp.mx/images/logo.png', style='width: 100%; max-width: 370px;')
        div(style='margin-top: 30px;')
          div
            div
              span(style='font-weight: 300; font-size: 24px; border: 0;') Hola #{email}
              span(style='font-weight: 300; font-size: 24px; width: 100%; display: block; border: 0;') #{nombre_invita} (#{email_invita})
              span(style='font-weight: 300; font-size: 24px; width: 100%; display: block; margin-bottom: 20px; border: 0;') te invita a conectar.
            div(style='text-align: center;', align='center')
              span(style='font-weight: 100;font-size:40px;color:#f6be00;font-family: "Roboto", sans-serif;') ¡Únete a TheHive!
              div(style='font-size:0;margin-bottom:30px;')
                div(style='width:100%;max-width:33%;display:inline-block;font-size:16px;')
                  img(src="http://thehiveapp.mx:3000/images/home_geo.png",style="width:80px;display:inline-block;")
                  br
                  span(style='font-weight:100;color:#808080;text-align:center;display:block;margin-top:10px;font-family: "Roboto", sans-serif;') Encuentra expertos cerca de ti
                div(style='width:100%;max-width:33%;display:inline-block;font-size:16px;')
                  img(src="http://thehiveapp.mx:3000/images/home_colmena.png",style="width:75px;display:inline-block;")
                  br
                  span(style='font-weight:100;color:#808080;text-align:center;display:block;margin-top:10px;font-family: "Roboto", sans-serif;') Agrégalos a tu colmena
                div(style='width:100%;max-width:33%;display:inline-block;font-size:16px;')
                  img(src="http://thehiveapp.mx:3000/images/home_contacto.png",style="width:100%;display:inline-block;")
                  br
                  span(style='font-weight:100;color:#808080;text-align:center;display:block;margin-top:10px;font-family: "Roboto", sans-serif;') Contáctalos para trabajar juntos.

              span(style='font-family: "Roboto", sans-serif;') ¿Suena bien?

              a(href="http://thehiveapp.mx", style='display: block; width: 178px; background-color: #f6be00; color: #fff; font-weight: 500; font-size: 18px; border-radius: 4px; text-decoration: none; margin: 10px auto 0; padding: 12px 15px; border: 1px solid #f7a700;font-family: "Roboto", sans-serif;') Dime más
        div(style='color: #808080; font-weight: 300; font-size: 16px; margin-top: 30px; border: 0;')
          div
            div(style='text-align: center; color: #808080; padding: 11px 0;', align='center')
              span ¿El link no funciona? Pega esto en tu navegador:
              a(href='http://thehiveapp.mx', style='text-decoration: none; display: block; color: #808080;') http://thehiveapp.mx/
            include footer_email
