doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', style='width: 100%; height: 100%; margin: 0;')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='http://thehiveapp.mx/favicon.ico', type='image/x-icon')
    link(rel='icon', href='http://thehiveapp.mx/favicon.ico', type='image/x-icon')
    title TheHive
  body(style="width: 100%; min-height: 100%; font-size: 16px; font-family: 'Roboto', sans-serif; background-image: url('http://thehiveapp.mx/images/bg.png'); background-repeat: repeat; background-color: #363636; margin: 0; padding: 0;", bgcolor='#363636')
    div(style='background-color: #fff; max-width: 600px; margin: 0 auto; padding: 20px 54px;')
      div
        div(style='text-align: center; border: 0;', align='center')
          a(href='#d41d8cd98f00b204e9800998ecf8427e')
            img(src='http://thehiveapp.mx/images/logo.png', style='width: 100%; max-width: 370px;')
        div(style='margin-top: 30px;')
          div
            div
              span(style='font-weight: 300; color:#333333;font-size: 24px; border: 0;') Hola #{nombre}
              span(style='font-weight: 300; color: #f9be00; font-size: 40px; width: 100%; max-width: 300px; display: block; margin-bottom: 20px; border: 0;') Estás a un paso de formar parte de la Colmena
            div(style='text-align: center;', align='center')
              span(style='font-weight: 300; font-size: 16px;color:#333333;') Haz click para verificar tu cuenta
              a(href="http://thehiveapp.mx:3000/verification/"+public_id, style='display: block; width: 178px; background-color: #f6be00; color: #fff; font-weight: 500; font-size: 18px; border-radius: 4px; text-decoration: none; margin: 20px auto 0; padding: 12px 15px; border: 1px solid #f7a700;') Confirmar tu correo
        div(style='color: #808080; font-weight: 300; font-size: 16px; margin-top: 30px; border: 0;')
          div
            div(style='text-align: center; color: #808080; padding: 11px 0;', align='center')
              span ¿El link no funciona? Pega esto en tu navegador:
              a(href='#d41d8cd98f00b204e9800998ecf8427e', style='text-decoration: none; display: block; color: #808080;') http://thehiveapp.mx:3000/verification/#{public_id}
            include footer_email
