doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500', rel='stylesheet' type='text/css')
    style(type="text/css"): include ../public/stylesheets/style.css
    link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
    link(rel="icon",href="/favicon.ico",type="image/x-icon")
    title TheHive
  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    table.body-wrap
      tr
        td
        td.container(width='600')
          div.content
            div.header
                a(href="#")
                    img(src="images/logo.png")
            table.main(width='100%', cellpadding='0', cellspacing='0', itemprop='action', itemscope='', itemtype='http://schema.org/ConfirmAction')
              tr
                td.content-wrap
                  meta(itemprop='name', content='Confirm Email')
                  table(width='100%', cellpadding='0', cellspacing='0')
                    tr
                      td.content-block
                        span.titulo Hola #{nombre}
                    tr
                      td.content-block
                        span.subtitulo Estás a un paso de formar parte de la Colmena
                    tr
                      td.content-block.boton
                        span Haz click para verificar tu cuenta
                        a(href="http://192.241.245.98:3000/verification/"+public_id).verify Confirmar tu correo

            div.footer
              table(width='100%')
                tr
                  td
                      span ¿El link no funciona? Pega esto en tu navegador:
                      a(href="#") http://192.241.245.98:3000/verification/#{public_id}
                tr
                  td
                      span Este correo fue enviado de manera automática, no respondas.
                      span Si necesitas ayuda, contáctanos: 
                      a(href="#").email ayuda@theHIVE.com
                tr
                  td.last
                    span ©2016 The Hive, S.A de C.V.
                    span.divider |
                    span Todos los derechos reservados
                tr
                  td.last
                    a(href="#") Política de Privacidad
                    span.divider |
                    a(href="#") Términos y Condiciones