div(style='text-align: center; color: #808080; padding: 11px 0;', align='center')
  span Este correo fue enviado de manera automática, no respondas.
  span Si necesitas ayuda, contáctanos: 
  a(href='#d41d8cd98f00b204e9800998ecf8427e', style='text-decoration: none; display: inline-block; color: #f7a700;') contacto@thehiveapp.mx
  div(style='text-align: center; color: #808080; padding: 11px 0;', align='center')
    span ©2016 The Hive, S.A de C.V.
    span(style='border: 0;') |
    span Todos los derechos reservados
    div(style='text-align: center; color: #808080; padding: 11px 0;', align='center')
      a(href='http://thehiveapp.mx/aviso-de-privacidad/', style='text-decoration: none; margin-right:10px; color: #f7a700;') Política de Privacidad
      span(style='border: 0;') |
      a(href='http://thehiveapp.mx/terminos-y-condiciones/', style='text-decoration: none; margin-left:10px; color: #f7a700;') Términos y Condiciones