doctype html
html
  head
    title= title
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="javascripts/gps2.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#lista