doctype html
html
  head
    title A
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="/javascripts/chat.js")
    link(rel='stylesheet', href='/stylesheets/chat.css')
  body
    ul
      for area in jobarea
        li
          span #{area.name}