doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,500', rel='stylesheet' type='text/css')
    style(type="text/css"): include ../public/stylesheets/style.css
    link(rel="shortcut icon",href="http://192.241.245.98:3000/favicon.ico",type="image/x-icon")
    link(rel="icon",href="http://192.241.245.98:3000/favicon.ico",type="image/x-icon")
    title TheHive
  body
    div.cont
      div.content
        div.header
          a(href="#")
            img(src="http://192.241.245.98:3000/images/logo.png")
        div.main
          .alert
            .icon
              img(src="http://192.241.245.98:3000/images/right.png")
            .message
              ¡Gracias! Tu email 
              i #{email}
              ha sido verificado. Comienza a formar tus colmenas