html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#messages {
  height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: scroll;
}
#messages .message {
  padding: 5px;
}
#messages .message .profile_pic {
  display: block;
}
#messages .message .text {
  background-color: #808080;
  padding: 10px;
  max-width: 50%;
  display: inline-block;
  color: #fff;
}
form {
  width: 100%;
  padding: 0;
  margin: 0;
}
#message {
  height: 100px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
