html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#conversations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
#conversations ul li a {
  display: block;
}
#messages {
  height: calc(100% - 100px);
  overflow: hidden;
  overflow-y: scroll;
}
#messages .message {
  padding: 5px;
  position: relative;
  min-height: 50px;
}
#messages .message .profile_pic {
  display: block;
  visibility: hidden;
  background-color: #000;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}
#messages .message .profile_pic img {
  display: none;
}
#messages .message .element {
  display: block;
}
#messages .message .element .username {
  font-size: 12px;
}
#messages .message .element .text {
  background-color: #808080;
  padding: 10px;
  max-width: 50%;
  display: inline-block;
  color: #fff;
}
#messages .message.yours {
  text-align: left;
}
#messages .message.yours .profile_pic {
  left: 0;
}
#messages .message.yours .element {
  margin-left: 50px;
}
#messages .message.yours .element .text {
  background-color: #81daf5;
}
#messages .message.other {
  text-align: right;
}
#messages .message.other .profile_pic {
  right: 0;
}
#messages .message.other .element {
  margin-right: 50px;
}
#messages .message.other .element .text {
  background-color: #d8d8d8;
  color: #585858;
}
form {
  width: 100%;
  padding: 0;
  margin: 0;
}
#message {
  height: 100px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
