html
body
	height 100%
	margin 0
	padding 0
#messages
	height calc(100% - 100px)
	overflow hidden
	overflow-y scroll
	.message
		padding 5px
		.profile_pic
			display block
		.text
			background-color gray
			padding 10px
			max-width 50%
			display inline-block
			color #FFF
form
	width 100%
	padding 0
	margin 0
#message
	height 100px
	display block
	width 100%
	box-sizing border-box
	