html
	margin 0
	width 100%
	height 100%
body
	margin 0
	padding 0
	width 100%
	min-height 100%
	font-size 16px
	font-family 'Roboto', sans-serif
	background #363636 url('http://192.241.245.98:3000/images/bg.png') repeat
	.cont
		background-color #FFF
		max-width 600px
		padding 20px 54px
		margin 0 auto
		.content
			.header
				border 0
				text-align center
				a
					img
						width 100%
						max-width 370px
			.main
				table
					margin-top 20px
					tr
						td
							&.iphone, &.list
								vertical-align top
							&.iphone
								display inline
								width 50%
								max-width 300px
								margin 0
								padding 0
								box-sizing border-box
								img
									width 230px
									max-width 100%
							&.list
								width 50%
								max-width 50%
								box-sizing border-box
								padding 0
								margin 0
								margin-left auto
								.element
									margin-left 30px
									&.title
										margin-left 0
									.titulo,.subtitulo
										font-weight 300
									.titulo
										border 0
										font-size 24px
									.subtitulo
										border 0
										color #F9BE00
										font-size 40px
										display block
										margin-bottom 20px
									&.boton
										text-align center
										span
											font-weight 300
											font-size 16px
										a.verify
											display block
											width 178px
											margin 0 auto
											margin-top 20px
											border 0
											background-color #F6BE00
											color #FFF
											font-weight 500
											font-size 18px
											padding 12px 15px
											border-radius 4px
											text-decoration none
											border 1px solid #F7A700
			.footer
				border 0
				color #808080
				font-weight 300
				font-size 16px
				margin-top 30px
				.list
					.element
						padding 11px 0
						text-align center
						color #808080
						a
							text-decoration none
							display block
							color #808080
							&.email
								display inline-block
								color #F7A700
						span
							&.divider
							a
								border 0
						&.last
							padding 0
							span
								&.divider
									padding 0 10px
							a
								display inline-block
								color #F7A700