html {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #363636 url("http://192.241.245.98:3000/images/bg.png") repeat;
}
body .cont {
  background-color: #fff;
  max-width: 600px;
  padding: 20px 54px;
  margin: 0 auto;
}
body .cont .content .header {
  border: 0;
  text-align: center;
}
body .cont .content .header a img {
  width: 100%;
  max-width: 370px;
}
body .cont .content .main {
  margin-top: 30px;
}
body .cont .content .main .list .element .titulo,
body .cont .content .main .list .element .subtitulo {
  font-weight: 300;
}
body .cont .content .main .list .element .titulo {
  border: 0;
  font-size: 24px;
}
body .cont .content .main .list .element .subtitulo {
  border: 0;
  color: #f9be00;
  font-size: 40px;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-bottom: 20px;
}
body .cont .content .main .list .element.boton {
  text-align: center;
}
body .cont .content .main .list .element.boton span {
  font-weight: 300;
  font-size: 16px;
}
body .cont .content .main .list .element.boton a.verify {
  display: block;
  width: 178px;
  margin: 0 auto;
  margin-top: 20px;
  border: 0;
  background-color: #f6be00;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #f7a700;
}
body .cont .content .footer {
  border: 0;
  color: #808080;
  font-weight: 300;
  font-size: 16px;
  margin-top: 30px;
}
body .cont .content .footer .list .element {
  padding: 11px 0;
  text-align: center;
  color: #808080;
}
body .cont .content .footer .list .element a {
  text-decoration: none;
  display: block;
  color: #808080;
}
body .cont .content .footer .list .element a.email {
  display: inline-block;
  color: #f7a700;
}
body .cont .content .footer .list .element span.divider,
body .cont .content .footer .list .element span a {
  border: 0;
}
body .cont .content .footer .list .element.last span.divider {
  padding: 0 10px;
}
body .cont .content .footer .list .element.last a {
  display: inline-block;
  color: #f7a700;
}
